In [10]:
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

In [2]:
plays = pd.read_csv('TotalPlays_12-1-2023--2-28-2024.csv', parse_dates=['Time (UTC)'])

In [3]:
earnings = pd.read_csv('AutomatedAdsEstimatedEarningsData_11-30-2023--2-27-2024.csv', parse_dates=['Time (UTC)'])

In [4]:
earnings.head()

,Time (UTC),Estimated Automated Ads Earnings,Estimated Host-Read Ads Earnings
0,"11/30/2023, 24:00:00",0.0,0.0
1,"12/1/2023, 24:00:00",0.0,0.0
2,"12/2/2023, 24:00:00",0.0,0.0
3,"12/3/2023, 24:00:00",0.0,0.0
4,"12/4/2023, 24:00:00",0.0,0.0

In [5]:
plays.head()

            Time (UTC)  Plays
0  12/1/2023, 24:00:00    953
1  12/2/2023, 24:00:00    964
2  12/3/2023, 24:00:00    919
3  12/4/2023, 24:00:00   1073
4  12/5/2023, 24:00:00   1114

In [6]:
df = plays.merge(earnings)

In [7]:
df = df[df['Estimated Automated Ads Earnings'] > 0].reset_index(drop=True)

In [8]:
df.head()

,Time (UTC),Plays,Estimated Automated Ads Earnings,Estimated Host-Read Ads Earnings
0,"12/20/2023, 24:00:00",1145,0.01,0.0
1,"12/21/2023, 24:00:00",1036,1.42,0.0
2,"12/22/2023, 24:00:00",1033,4.74,0.0
3,"12/23/2023, 24:00:00",1016,5.05,0.0
4,"12/24/2023, 24:00:00",1019,5.40,0.0

In [9]:
df.tail()

,Time (UTC),Plays,Estimated Automated Ads Earnings,Estimated Host-Read Ads Earnings
63,"2/21/2024, 24:00:00",1958,17.03,0.0
64,"2/22/2024, 24:00:00",2028,15.06,0.0
65,"2/23/2024, 24:00:00",1881,14.42,0.0
66,"2/24/2024, 24:00:00",1720,16.32,0.0
67,"2/25/2024, 24:00:00",1707,17.07,0.0